@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}


.container {  /* allineamento intero doc */
	max-width: 1200px;
	margin: 0 auto;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li{
    list-style-type: none;
}

body{
    font-family: 'Noto Sans', sans-serif;
}
.row{
    display: flex;
}

.ul-header>li{
    padding: 12px;
}
.row.header{
    color: white;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
.col.login{

    display: flex;
    justify-content: flex-end;
}
.col.login >button{
    line-height: 25px;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 14px ;
    border: none;
}

.debug header{
    background-color:#2D63EB;
    padding: 15px;
}

.row.head .col{
    flex-basis: calc(100% / 4);
}


.jumbo{
    min-height: 500px;
    background-color: #00008B;
}

.row.jumbo{
    justify-content: center;
    align-items: center;
}

.jumbo-image{
    min-height: 400px;
    min-width: 400px;
    background-color: #EE82EE;
    border: 2px dotted black;
}
.image{
    min-height: 500px ;

    border: 1px solid black;
}
.color{
    background-color: #D3D3D3;
}
.row.intro{
    height: 500px;
    justify-content: center;
    align-items: center;
}


.column-image{
    background-color:#1E90FF ;
    border: 2px dotted black;
    min-height: 200px;
    flex-basis: 75%;
}

.column-text{
    min-height: 200px;
    background-color:#FFC0CB ;
    border: 2px dotted black;
    flex-basis: 25%;

}

.row.intro.reverse{
    flex-direction: row-reverse;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.row-footer{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 700px;


}
.column-footer{
    height: 200px;
    min-width:calc(100% / 12);
    background-color: #20B2AA;
    border: 1px dotted white;

}

footer{
    background-color: rgb(54, 53, 53);
}

.column-footer.big{
    background-color: red;
    flex-basis: calc(100% / 6);


}